
.vKxXHaKtD {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  height: 40px;
}

.TlYEfKgIr{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  height: 2px;
  background-color: rgba(0,0,0,0.1);
  margin: 1em auto 1em auto;
  width: 100%;
  max-width: 30px;
}