
.vKxXHaKtD {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  height: 38px;
  font-size: 14.4px;
}

.TlYEfKgIr{
  height: 2px;
  background-color: rgba(0,0,0,0.1);
  margin: 0.5em auto 0.5em auto;
  width: 100%;
  max-width: 30px;
}
.DYPGdpZBO{
  display: block;
  width: 280px;
  height: 157px;
  object-fit: cover;
}
.PwPJsUpeS{
  padding-bottom: 0;
  margin-bottom: 0;
  font-size: 16.56px;
}
.JEHEFFBwO{
  padding-top: 0;
  margin-top: 0;
  font-size: 11.52px;
}