.lsuPKLCYu {
  display: flex;
  flex-direction: column;
  background-color: rgba(255,255,255,0.95);
  width: 260px;
  height: 100%;
  padding-top: 100px;
  align-items: flex-start;
}

.btnClose {
  margin: 50px auto;
}

.NAFKifZMn {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  background-color: rgba(11, 11, 11, 0.664);
  z-index: 9999;
}
.kKrGnMKZo{
  width: 100%;
  padding: 20px 0 20px 0;
  color: rgba(102,102,102,0.85);
  font-size: 12.8px;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  border-top: 1px solid #ececec;
}
.kKrGnMKZo:hover {
  color: rgb(31, 31, 31);
  background-color:  #e2e2e2;
}

.active {
  color: black;
}
/* @media only screen and (max-width: 850px) {
  .NAFKifZMn {
    display: none;
  }
} */