.tYFSQzCXe {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #86c200;
  height: 50px;
  align-items: center;
}

.pQnCIyNkY {
  margin: 0 13px 0 13px;
  color:white;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
}
.pQnCIyNkY:first-child {
  margin-left: 0 !important;
}
.divider-navbar{
  border-left: 1px solid rgba(0,0,0,0.1);
  height: 15px;
  vertical-align: middle;
  position: relative;
  /* margin: 0 7.5px; */
}

.pQnCIyNkY:hover {
  color: black;
}

.active {
  color: black;
}





