.ymFOWGKnw .UeeNwqHRa {
  width: 200px;
  height: 200px;
}
.ymFOWGKnw{
  display: flex;
  justify-content: center;
}

.DuzPcLHGb{
  padding: 0;
  margin-bottom: 0;
  font-size: 12px;
  text-transform: uppercase;
}
.wZkYuuuWW {
  margin-top: 5px;
}

.sbWfFsYHn{
  text-transform: uppercase;
  padding: 10px;
  background-color: #86c200;
  color: white;
  cursor: pointer;
  font-size: 12px;
  font-weight: bolder;
  text-align: center;
  border: 1px solid transparent;
  transition: transform .3s, border .3s, background .3s, box-shadow .3s, opacity .3s, color .3s;
}

.sdnLHpaJE{
  padding: 10px 0 20px 0;
}
a{
  color: #111111;
  text-decoration: none;
}