.ymFOWGKnw .UeeNwqHRa {
  width: 166px;
  height: 166px;
}
.ymFOWGKnw{
  display: flex;
  justify-content: center;
}

.DuzPcLHGb{
  padding: 0;
  margin-bottom: 0;
  font-size: 12px;
  text-transform: uppercase;
}
.wZkYuuuWW {
  margin-top: 5px;
  margin-bottom: 0;
}

.sbWfFsYHn{
  text-transform: uppercase;
  padding: 7px 10px 7px 10px;
  background-color: #86c200;
  color: white;
  cursor: pointer;
  font-size: 12px;
  font-weight: bolder;
  text-align: center;
  border: 1px solid transparent;
  transition: transform .3s, border .3s, background .3s, box-shadow .3s, opacity .3s, color .3s;
}

.sdnLHpaJE{
  padding: 10px 0 20px 0;
}
a{
  color: #111111;
  text-decoration: none;
}
.RDFBOYFrb{
  font-size: 10.8px;
  color: #353535;
}
.XVjcTbXgx{
  font-size: 14.4px;
  color: #353535;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  height: 38px;
}
.zlXPxCrVY{
  margin-top: 0;
}